[Unit]
Description=prom2flock relay service
After=network.target

[Service]
Type=simple
User=prom2flock
Group=prom2flock
WorkingDirectory=/opt/prom2flock/src
ExecStart=/opt/prom2flock/src/prom2flock
ExecReload= /usr/bin/bash -c "curl localhost:$$(cat /var/run/prom2flock/prom2flock.port)/reload"
TimeoutSec=300
TimeoutAbortSec=300
Restart=on-failure


[Install]
WantedBy=multi-user.target